[submodule "lib/boringssl"]
	path = lib/boringssl
	url = https://github.com/google/boringssl
	branch = main
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/DaveGamble/cJSON
[submodule "lib/monocypher"]
	path = lib/monocypher
	url = https://github.com/LoupVaillant/Monocypher
[submodule "lib/libttak"]
    path = lib/libttak
    url  = https://github.com/religiya-serdtsa/libttak
